<div class="my-2" data-controller="dark-mode">
  <div class="form-check form-switch">
    <input id="color-theme" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="click->dark-mode#toggle">
    <label class="form-check-label" for="flexSwitchCheckDefault">Dark mode</label>
  </div>
</div>
